In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:root@localhost/

In [4]:
%%sql
DROP DATABASE spotify_db;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [5]:
%%sql
create database spotify_db;
use spotify_db;

CREATE TABLE IF NOT EXISTS spotify_tracks (
    id INT AUTO_INCREMENT PRIMARY KEY,
    track_name VARCHAR(255),
    artist VARCHAR(255),
    album VARCHAR(255),
    popularity INT,
    duration_minutes FLOAT
)

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.
0 rows affected.
0 rows affected.

[]

In [8]:
%%sql 
truncate table spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/
0 rows affected.

[]

In [9]:
%%sql
select * from spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/
9 rows affected.

[(1, 'Mr. Brightside', 'The Killers', 'Hot Fuss', 62, 3.70333),
 (2, 'Time is Running Out', 'Muse', 'Absolution', 6, 3.95065),
 (3, 'Uprising', 'Muse', 'The Resistance', 77, 5.08067),
 (4, 'Despacito', 'Luis Fonsi', 'VIDA', 81, 3.82267),
 (5, 'Mr. Brightside', 'The Killers', 'Hot Fuss', 8, 3.70125),
 (6, 'Lover', 'Taylor Swift', 'Lover', 86, 3.68843),
 (7, 'Shape of You', 'Ed Sheeran', '÷ (Deluxe)', 88, 3.8952),
 (8, 'Every Breath You Take', 'The Police', 'Synchronicity (Remastered 2003)', 90, 4.232),
 (9, 'Prelude for Piano No. 11 in F-Sharp Minor', 'Eduard Abramyan', 'Abramyan: Preludes – Rachmaninoff: Sonata No. 2 in B-Flat Minor, Op. 36 – Babadjanyan: Capriccio, Improvisation, Folksong, Elegy, Poem', 24, 4.13822)]

In [10]:
%%sql
SELECT track_name, artist, album, popularity
FROM spotify_tracks
ORDER BY popularity DESC
LIMIT 1;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[('Every Breath You Take', 'The Police', 'Synchronicity (Remastered 2003)', 90)]

In [11]:
%%sql
SELECT AVG(popularity) AS average_popularity
FROM spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/
1 rows affected.

[(Decimal('58.0000'),)]

In [12]:
%%sql
SELECT track_name, artist, duration_minutes
FROM spotify_tracks
WHERE duration_minutes > 4.0;

 * mysql+mysqlconnector://root:***@localhost/
3 rows affected.

[('Uprising', 'Muse', 5.08067),
 ('Every Breath You Take', 'The Police', 4.232),
 ('Prelude for Piano No. 11 in F-Sharp Minor', 'Eduard Abramyan', 4.13822)]

In [13]:
%%sql
SELECT 
    CASE 
        WHEN popularity >= 80 THEN 'Very Popular'
        WHEN popularity >= 50 THEN 'Popular'
        ELSE 'Less Popular'
    END AS popularity_range,
    COUNT(*) AS track_count
FROM spotify_tracks
GROUP BY popularity_range;

 * mysql+mysqlconnector://root:***@localhost/
3 rows affected.

[('Popular', 2), ('Less Popular', 3), ('Very Popular', 4)]